---
---

@import 'colors';
@import 'typography';
@import 'utilities';
@import 'overrides';
@import 'bootstrap';
@import 'navigation';
@import 'hero';
@import 'about';
@import 'services';
@import 'skillbar';
@import 'skills';
@import 'timeline';
@import 'history';
@import 'contact';
@import 'footer';

.circle {
  border-radius: 100% !important;
  display: inline-block;
  list-style-type: circle;
  padding: 4.2em;
}

body, html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

.section {
  padding-top: 3em;
  padding-bottom: 3em;

  .section__title {
    font-size: 58px;
    color: $gray;
    text-align: center;

    @include respond-to(tablets) {
      font-size: 48px;
    }
    @include respond-to(smartphones) {
      font-size: 38px;
    }

    margin-top: 0;
    margin-bottom: 30px;
  }

  .section__title--left-aligned {
    text-align: left;
  }

  .section__subtitle {
    text-align: center;
  }
}

.section--inverted {
  background-color: #303e49;

  p {
    color: $white;
  }

  .section__title {
    color: $orange;
  }

  .section__subtitle {
    color: $white;
  }
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 0.3;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
