---
---

// Site colors
$blue: #3d69e7;
$dark-blue: #303e49;
$orange: #E77245;
$light-gray: #b7bdc5;
$white: #F7FFF7;

$brand-primary: $orange;

// typography
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
// $line-height-base: 1.875;
$font-weight: 400;
$headings-font-weight: 300;

// navbar
$navbar-default-bg: #fff;
$navbar-default-border: none;
$navbar-default-link-color: $dark-blue;
$navbar-default-link-hover-color: $orange;
$navbar-default-brand-color: $orange;
$navbar-default-toggle-icon-bar-bg: $orange;
$navbar-default-toggle-border-color: none;
$navbar-default-toggle-hover-bg: #fff;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$link-hover-decoration: none;

@import 'bootstrap';
@import 'utilities';
@import 'navigation';
@import 'hero';
@import 'about';
@import 'services';
@import 'skills';
@import 'timeline';
@import 'history';
@import 'contact';
@import 'footer';

body, html {
    height: 100%;
    min-height: 100%;
    position: relative;
}

section {
  padding-top: 3em;
  padding-bottom: 3em;

  .section-title {
    font-size: 2.5em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #777777;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 0.3;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
