<section id="about" class="section section--inverted section--centered">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-xs-12 text-center wow fadeInLeft">
      <img class="img-responsive picture-frame" alt="Lefteris Laskaridis" src="../images/me.jpg"></img>
      <ul class="social-links text-center">
        <li>
        <a id="linkedin-link" href="https://www.linkedin.com/in/laskaridis" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
        </li>
        <li>
        <a id="twitter-link" href="https://twitter.com/laskaridis" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        </li>
        <li>
        <a id="github-link" href="https://github.com/laskaridis" target="_blank">
          <i class="fa fa-github"></i>
        </a>
        </li>
        <li>
        <a id="google-link" href="https://www.google.com/+LefterisLaskaridis" target="_blank">
          <i class="fa fa-google-plus"></i>
        </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-xs-12 wow fadeInRight">
      <h2 class="section__title section__title--left">
        There are many ways <br> to change our world.
      </h2>

      <p class="lead">But first we must challenge the present and re-think our future.</p>

      <p>Technology provides endless possibilities. That's why I'm passionate about using technology to
      solve problems that matter, to build a better future. I am Lefteris and for the past 15 years
      I have been transforming challenging problems and exciting ideas into winning products.</p>

      <p>Thank you for your interest in my small journey to make a big difference!</p>
    </div>
  </div>
</div>
</section>
