<section id="about">
<div class="container">
  <h2 class="section-title">About</h2>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>
      I am Lefteris Laskaridis, a software engineer linving and working in Ahtens,
      Greece. For over a decade I have been delivering high quality software for
      businesses in diverse industries and sectors. I am commited in delivering
      software that meets the needs of its users by leveraging agile methods and
      practices. I earned my B.Sc. in computer science from University of Indianapolis,
      I am married and live in Athens, Greece.</p>
    </div>
    <div class="col-md-6 col-xs-12 text-center">
      <img class="img-circle" alt="Lefteris Laskaridis" src="../images/me.jpg"></img>
      <ul class="social">
        <li>
          <a id="twitter-link" href="http://twitter.com/laskaridis" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
        <li>
          <a id="github-link" href="http://github.com/laskaridis" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        <li>
          <a id="google-link" href="http://www.google.com/+LefterisLaskaridis" target="_blank">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</section>
