<section id="contact">
<div class="container">
  <h3 class="section-title">Keep in touch</h3>
  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-map-marker"></p>
      <p class="contact-text">
        I live in <b>Athens</b>
      </p>
    </div>
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-send"></p>
      <p class="contact-text">
        <a id="email-link" href="mailto:lefteris.laskaridis@gmail.com">
          lefteris.laskaridis@gmail.com
        </a>
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-phone"></p>
      <p class="contact-text">
        <a id="phone-link" href="tel:+306946434615">
          +30 694 643 4615
        </a>
      </p>
    </div>
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-phone-alt"></p>
      <p class="contact-text">
        <a id="skype-link" href="skype:lefteris.laskaridis?call">
          lefteris.laskaridis
        </a>
      </p>
    </div>
    <div class="row text-center">
      <ul class="social">
        <li>
          <a id="twitter-link" href="http://twitter.com/laskaridis" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
        <li>
          <a id="github-link" href="http://github.com/laskaridis" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        <li>
          <a id="google-link" href="http://www.google.com/+LefterisLaskaridis" target="_blank">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
