<section id="contact">
<div class="container">
  <h2 class="section-title text-center">Keep in touch</h3>
  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-send"></p>
      <h3 class="contact-text">
        <a id="email-link" href="mailto:lefteris.laskaridis@gmail.com">
          hello@laskaridis.it
        </a>
      </h3>
    </div>
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-phone"></p>
      <h3 class="contact-text">
        <a id="phone-link" href="tel:+306946434615">
          +30 694 643 4615
        </a>
      </h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-phone-alt"></p>
      <h3 class="contact-text">
        <a id="skype-link" href="skype:lefteris.laskaridis?call">
          lefteris.laskaridis
        </a>
      </h3>
    </div>
    <div class="col-md-6 col-xs-12">
      <p class="contact-icon glyphicon glyphicon-map-marker"></p>
      <h3 class="contact-text">
        I live in <b>Athens</b>
      </h3>
    </div>
  </div>
</div>
</section>
