<section id="contact">
<div class="container">
  <h3 class="section-title" style="color: white;">Keep in touch</h3>
  <div class="row">
    <div class="contact-info">
      <span class="contact-info-icon">
        <i class="icon-envelope"></i>
      </span>
      <a href="mailto:lefteris.laskaridis@gmail.com" class="lead contact-info-link">
        lefteris.laskaridis@gmail.com
      </a>
    </div>
    <div class="contact-info">
      <span class="contact-info-icon">
        <i class="icon-social-skype"></i>
        Skype:
      </span>
      <a href="skype:lefteris.laskaridis?call" class="lead contact-info-link">
        lefteris.laskaridis
      </a>
    </div>
    <div class="contact-info">
      <span class="contact-info-icon">
        <i class="icon-call-end"></i>
      </span>
      <a href="tel:+306946434615" class="lead contact-info-link">
        +30 694 643 4615
      </a>
    </div>
  </div>
</div>
</section>
