<footer>
<div class="container">
  <div class="social">
    <div class="social-icon">
      <a href="http://twitter.com/laskaridis" target="_blank">
        <i class="fa fa-twitter fa-2x"></i>
      </a>
    </div>
    <div class="social-icon">
      <a href="http://github.com/laskaridis" target="_blank">
        <i class="fa fa-github fa-2x"></i>
      </a>
    </div>
    <div class="social-icon">
      <a href="http://www.google.com/+LefterisLaskaridis" target="_blank">
        <i class="fa fa-google-plus fa-2x"></i>
      </a>
    </div>
  </div>
  <p class="text-center">
    Copyright &copy; 2015 Lefteris Laskaridis.
  </p>
</div>
</footer>
