<footer>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p class="text-center">
        Copyright &copy; 2015 Lefteris Laskaridis. All rights reserved.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <ul id="social" class="list-inline">
        <li><a href="http://twitter.com/laskaridis" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="http://github.com/laskaridis" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus fa-2x"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
