<div id="hero" class="cover jumbotron">
  <div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active first-slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Hello!</h1>
              <p>
              I'm a software engineer passionate about using technology to transform
              challenging problems and exciting ideas into winning products.
              </p>
            </div>
          </div>
        </div>
        <div class="item second-slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Second slide</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
        <div class="item third-slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Third slide</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
