<section id="hero">
  <div class="page">
    <div class="wrapper">
      <div class="container">
        <h1 class="featurette-heading">
          Transform your ideas into <br /> winning products. Fast.
        </h1>
        <p class="lead">
          I am a software engineer focused on your business.
        </p>
      </div>
      <div class="arrow-down">
        <a id="scroll" class="scroll scrollable" href="#about">
          <i class="fa fa-chevron-down"></i>
        </a>
      </div>
    </div>
  </div>
</section>
