<section id="hero">
  <div class="page">
    <div class="wrapper">
      <div class="container">
        <h1 class="featurette-heading">Hello!</h1>
        <p class="lead">
          I'm a software engineer passionate about using technology to transform
          challenging problems and exciting ideas into winning products.
        </p>
      </div>
      <div class="arrow-down">
        <a id="scroll" class="scroll scrollable" href="#about">
          <i class="icon-arrow-down"></i>
        </a>
      </div>
    </div>
  </div>
</section>
