<section id="history">
<div class="container">
  <h3 class="section-title">History</h3>
  <div class="row">
    <div class="col-sm-12">
      <div id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn" data-wow-delay="0.2s">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn" data-wow-delay="0.2s">
            <h4><a href="http://www.mytrip.com" target="_blank">ETravel</a></h4>
            <p>
            Responsible for developing the company's customer management
            system and integrating it with external processes.
            </p>
            <span class="cd-date">Oct 12 - Present</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn" data-wow-delay="0.2s">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
           <div class="cd-timeline-content wow bounceIn" data-wow-delay="0.2s">
            <h4>36Gaming</h4>
            <p>
            Designed and developed the company's real time, highly scalable
            gaming server using Java and Spring.
            </p>
            <span class="cd-date">Mar 12 - Jul 12</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn" data-wow-delay="0.2s">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn" data-wow-delay="0.2s">
            <h4><a href="http://www.toyota.gr" target="_blank">Toyota Hellas</a></h4>
            <p>
            Manager of the applications development team, responsible for delivering software
            solutions to the company.
            </p>
            <span class="cd-date">Jan 10 - Mar 12</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn" data-wow-delay="0.2s">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn" data-wow-delay="0.2s">
            <h4><a href="http://www.trasys.gr" target="_blank">Trasys</a></h4>
            <p>
            Involved in several large scale projects, including the VIES server
            application for Lithuanian tax authorities, REACH IT for European Chemicals
            Agency and others.
            </p>
            <span class="cd-date">Jan 06 - Dec 09</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn" data-wow-delay="0.2s">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn" data-wow-delay="0.2s">
            <h4><a href="http://www.icap.gr" target="_blank">ICAP</a></h4>
            <p>
            Developed software for the needs of the company and its customers.
            </p>
            <span class="cd-date">May 02 - Jan 06</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
