<section id="history">
<div class="container">
  <h3 class="section-title">History</h3>
  <div class="row">
    <div class="col-sm-12">
      <div id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceInUp">
            <h3>ETravel</h3>
            <p>
            Working as part of the team designing and developing
            the company's customer management system.
            </p>
            <span class="cd-date">Jan 14 - Present</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3>Magenta Technologies</h3>
            <p>
            Designed and developed the company's real time, massively scalable
            gaming server product.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3>Toyota Hellas</h3>
            <p>
            Managed the team responsible for delivering software
            solutions for the company.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3>Trasys</h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
            dolorum provident rerum aut hic quasi placeat iure tempora laudantium
            ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3>ICAP</h3>
            <p>
            Developed software for the needs of the company and its customers.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
