<section id="history">
<div class="container">
  <h3 class="section-title">History</h3>
  <div class="row">
    <div class="col-sm-12">
      <div id="cd-timeline" class="cd-container">

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceInUp">
            <h3><a href="http://www.mytrip.com" target="_blank">ETravel</a></h3>
            <p>
            Designing and developing the company's customer management system.
            </p>
            <span class="cd-date">Oct 12 - Present</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3>36Gaming</h3>
            <p>
            Designed and developed the company's real time, massively scalable
            gaming server.
            </p>
            <span class="cd-date">Oct 12</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3><a href="http://www.toyota.gr" target="_blank">Toyota Hellas</a></h3>
            <p>
            Managed the team responsible for delivering software
            solutions for the company.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3><a href="http://www.trasys.gr" target="_blank">Trasys</a></h3>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio,
            dolorum provident rerum aut hic quasi placeat iure tempora laudantium
            ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>

        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture wow bounceIn">
            <img src="http://codyhouse.co/demo/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
          </div>
          <div class="cd-timeline-content wow bounceIn">
            <h3><a href="http://www.icap.gr" target="_blank">ICAP</a></h3>
            <p>
            Developed software for the needs of the company and its customers.
            </p>
            <span class="cd-date">Jan 14</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
