
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="{{ "/js/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
<script type="application/ld+json">
{ "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "Lefteris Laskaridis",
        "url" : "http://www.laskaridis.com",
        "email" : "lefteris.laskaridis@gmail.com",
        "image" : "http://www.laskaridis.com/images/me.jpg",
        "sameAs" : [
          "http://twitter.com/laskaridis",
          "http://github.com/laskaridis",
          "http://plus.google.com/+LefterisLaskaridis"]
      }
</script>
