<section id="services" class="section">
<div class="container">
  <h2 class="section__title">Services</h2>
  <div class="row">
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
      <div class="service">
        <div class="service__icon">
          <i class="icon-screen-desktop"></i>
        </div>
        <h3 class="service__title">Web</h3>
        <p class="service__subtitle">
          Design and development of dynamic web applications and static web sites.
        </p>
      </div>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.4s">
      <div class="service">
        <div class="service__icon">
          <i class="icon-settings"></i>
        </div>
        <h3 class="service__title">Enterprise</h3>
        <p class="service__subtitle">
          Integration of systems and applications accross the enterprise.
        </p>
      </div>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.8s">
      <div class="service">
        <div class="service__icon">
          <i class="icon-screen-smartphone"></i>
        </div>
        <h3 class="service__title">Mobile</h3>
        <p class="service__subtitle">
          Design and development of mobile applications for iOS and Android platforms.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
