<section id="services">
<div class="container">
  <h2 class="section-title">What do I do</h2>
  <div class="row">
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
      <div class="service-box text-center">
        <div class="service-icon">
          <i class="icon-screen-desktop icon-large"></i>
        </div>
        <h4 class="service-title">Web</h4>
        <p class="service-subtitle">
          Design and development of dynamic web applications and web sites.
        </p>
      </div>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
      <div class="service-box text-center">
        <div class="service-icon">
          <i class="icon-screen-smartphone icon-large"></i>
        </div>
        <h4 class="service-title">Mobile</h4>
        <p class="service-subtitle">
          Design and development of mobile applications for iOS and Android platforms.
        </p>
      </div>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
      <div class="service-box text-center">
        <div class="service-icon">
          <i class="icon-settings icon-large"></i>
        </div>
        <h4 class="service-title">Enterprise</h4>
        <p class="service-subtitle">
          Integration of systems and applications accross the enterprise.
        </p>
      </div>
    </div>
  </div>
</div>
</section>
