<section id="skills">
<div class="container">
  <h2 class="section-title">Skills</h2>
  <div class="row">
    <div class="col-md-4">
      <h3 class="section-subtitle">Languages</h3>
      <div class="skillbar" data-percent="80">
        <div class="skillbar-title">Java</div>
        <div class="skillbar-bar-percent">10 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="30">
        <div class="skillbar-title">Ruby</div>
        <div class="skillbar-bar-percent">4 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="20">
        <div class="skillbar-title">Swift</div>
        <div class="skillbar-bar-percent">2 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="section-subtitle">Frameworks</h3>
      <div class="skillbar" data-percent="80">
        <div class="skillbar-title">JEE</div>
        <div class="skillbar-bar-percent">10 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="60">
        <div class="skillbar-title">Spring</div>
        <div class="skillbar-bar-percent">6 yr</div>
        <div class="skillbar-bar" style="width: 0%"></div>
      </div>
      <div class="skillbar" data-percent="40">
        <div class="skillbar-title">Rails</div>
        <div class="skillbar-bar-percent">4 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="section-subtitle">Platforms</h3>
      <div class="skillbar" data-percent="30">
        <div class="skillbar-title">JBoss</div>
        <div class="skillbar-bar-percent">4 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="38">
        <div class="skillbar-title">Websphere</div>
        <div class="skillbar-bar-percent">5 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="30">
        <div class="skillbar-title">Weblogic</div>
        <div class="skillbar-bar-percent">4 yr</div>
        <div class="skillbar-bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div>
</section>
