<section id="skills" class="section section--inverted">
<div class="container">
  <h2 class="section__title">Skills</h2>
  <div class="row">
    <div class="col-md-4">
      <h3 class="section__subtitle">Languages</h3>
      <div class="skillbar" data-percent="80">
        <div class="skillbar__title">Java</div>
        <div class="skillbar__value">10 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="50">
        <div class="skillbar__title">Ruby</div>
        <div class="skillbar__value">5 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="20">
        <div class="skillbar__title">Swift</div>
        <div class="skillbar__value">2 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="section__subtitle">Frameworks</h3>
      <div class="skillbar" data-percent="80">
        <div class="skillbar__title">JEE</div>
        <div class="skillbar__value">10 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="60">
        <div class="skillbar__title">Spring</div>
        <div class="skillbar__value">6 yr</div>
        <div class="skillbar__bar" style="width: 0%"></div>
      </div>
      <div class="skillbar" data-percent="40">
        <div class="skillbar__title">Rails</div>
        <div class="skillbar__value">5 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="section__subtitle">Platforms</h3>
      <div class="skillbar" data-percent="30">
        <div class="skillbar__title">JBoss</div>
        <div class="skillbar__value">4 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="38">
        <div class="skillbar__title">Websphere</div>
        <div class="skillbar__value">5 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
      <div class="skillbar" data-percent="30">
        <div class="skillbar__title">Weblogic</div>
        <div class="skillbar__value">4 yr</div>
        <div class="skillbar__bar" style="width: 0%;"></div>
      </div>
    </div>
  </div>
</div>
</section>
