<section id="skills">
<div class="container">
  <h3 class="section-title">What do i do</h3>
  <div class="row">
    <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.2s">
      <div class="skill-box">
        <div class="skill-icon">
          <i class="icon-screen-desktop icon-large"></i>
        </div>
        <div class="skill-content">
          <h4>Web</h4>
          <p>
            Full-stack development of web applications using technologies mainly from
            the Java and Ruby ecosystems. Experienced in core web technologies HTML5, CSS3
            and Javascript.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
      <div class="skill-box">
        <div class="skill-icon">
          <i class="icon-settings icon-large"></i>
        </div>
        <div class="skill-content">
          <h4>Enterprise integration</h4>
          <p>
            Enterprise integration projects leveraging service oriented
            architectures. I deliver solutions using various technologies
            and tools including, web services, message oriented middle-ware,
            BPEL and others.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 wow fadeInRight" data-wow-delay="0.2s">
      <div class="skill-box">
        <div class="skill-icon">
          <i class="icon-screen-smartphone icon-large"></i>
        </div>
        <div class="skill-content">
          <h4>Mobile</h4>
          <p>
            Design and development of applications for mobile clients. I write apps
            for IOS and Android.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr class="wow fadeInUp" data-wow-delay="0.2s" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.2s">
      <h4 class="section-subtitle">Languages</h4>
      <div class="skillbar">
        <div class="skillbar-title">Java</div>
        <div class="skillbar-bar-percent">10 yr</div>
        <div class="skillbar-bar" style="width: 80%;"></div>
      </div>
      <div class="skillbar">
        <div class="skillbar-title">Ruby</div>
        <div class="skillbar-bar-percent">3 yr</div>
        <div class="skillbar-bar" style="width: 30%;"></div>
      </div>
      <div class="skillbar">
        <div class="skillbar-title">Objective-C</div>
        <div class="skillbar-bar-percent">2 yr</div>
        <div class="skillbar-bar" style="width: 15%;"></div>
      </div>
    </div>
    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
      <h4 class="section-subtitle">Frameworks</h4>
      <div class="skillbar">
        <div class="skillbar-title">JEE</div>
        <div class="skillbar-bar-percent">10 yr</div>
        <div class="skillbar-bar" style="width: 80%;"></div>
      </div>
      <div class="skillbar">
        <div class="skillbar-title">Spring</div>
        <div class="skillbar-bar-percent">6 yr</div>
        <div class="skillbar-bar" style="width: 46%"></div>
      </div>
      <div class="skillbar">
        <div class="skillbar-title">Ruby on Rails</div>
        <div class="skillbar-bar-percent">3 yr</div>
        <div class="skillbar-bar" style="width: 30%;"></div>
      </div>
    </div>
    <div class="col-md-4 wow fadeInRight" data-wow-delay="0.2s">
      <h4 class="section-subtitle">Platforms</h4>
      <div class="skillbar">
        <div class="skillbar-title">JBoss</div>
        <div class="skillbar-bar-percent">4 yr</div>
        <div class="skillbar-bar" style="width: 30%;"></div>
      </div>
      <div class="skillbar">
        <div class="skillbar-title">Websphere</div>
        <div class="skillbar-bar-percent">5 yr</div>
        <div class="skillbar-bar" style="width: 38%;"></div>
      </div>
      <div class="skillbar">
        <div class="skillbar-title">Weblogic</div>
        <div class="skillbar-bar-percent">4 yr</div>
        <div class="skillbar-bar" style="width: 30%;"></div>
      </div>
    </div>
  </div>
</div>
</section>
