
<section id="social">
  <h2 class="section-title">Follow me</h2>
  <div class="container">
    <div class="row text-center">
      <ul class="social">
        <li>
          <a href="http://twitter.com/laskaridis" target="_blank">
            <i class="fa fa-twitter fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="http://github.com/laskaridis" target="_blank">
            <i class="fa fa-github fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="http://www.google.com/+LefterisLaskaridis" target="_blank">
            <i class="fa fa-google-plus fa-2x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
