
section#about {
  background-color: #303e49;

  .section-title {
    color: $orange;
  }

  .picture-frame {
    display: block;
    vertical-align: middle;
    border: 12px solid #fff;
    margin: 0 auto 35px;
    max-width: 236px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    box-shadow: 3px 5px 8px rgba(0,0,0,0.5);
  }

  p {
    color: $light-gray;
  }
}
