
$gray: #6d6d6d;
$blue: #334959;
$dark-blue: #303e49;
$orange: #E77245;
$light-gray: #b7bdc5;
$white: #F7FFF7;

.gray {
  background-color: $gray;
};

.blue {
  background-color: $blue;
}

.dark-blue {
  background-color: $dark-blue;
}

.orange {
  background-color: $orange;
}

.light-gray {
  background-color: $light-gray;
}

