
section#contact {
  background-color: #acb7c0;
  background: url(https://unsplash.com/photos/0S9ePdJG6Og/download) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  overflow: hidden;
}

.contact-icon {
  text-align: center;
  font-size: 8em;
}

.contact-info {
  display: block;
  text-align: center;
  margin-bottom: 12px;
}

.contact-info-icon {
  display: inline-block;
  text-align: center;
  font-size: 21px;
  margin-right: 9px;
  color: #fff;
}

.contact-info-link {
  color: #fff;
}
