
section#contact {
  background-color: #acb7c0;
  background: url(https://images.unsplash.com/photo-1426443177319-df7c639993c8?fit=crop&amp;fm=jpg&amp;h=700&amp;q=80&amp;w=1200) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  overflow: hidden;

  .section-title {
    color: #fff;
  }

  .contact-icon {
    text-align: center;
    font-size: 8em;
  }

  .contact-info {
    display: block;
    text-align: center;
    margin-bottom: 12px;
  }

  .contact-info-icon {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    margin-right: 9px;
    color: #fff;
  }

  .contact-info-link {
    color: #fff;
  }
}

section#social {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #D5573B;

  .section-title {
    color: #fff;
  }

  ul.social {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin-right: 50px;

      a {
        color: #fff;
        font-size: 21px;
      }
    }
  }
}

