
section#contact {
  background-color: $dark-blue;
  overflow: hidden;

  .section-title {
    color: $orange;
  }

  .contact-icon {
    color: $orange;
    font-size: 3em;
    padding-top: 4px;
    width: 100%;
  }

  .contact-text {
    color: $light-gray;
    font-weight: 200;

    a {
      color: $light-gray;
    }
  }

  form#contact-form {
    margin-top: 20px;
  }

  .input-text {
    font-size: 18px;
    font-weight: 300;
    border: none;
    color: #fff;
    border-bottom: 3px solid $orange;
    background: transparent;
    background-color: rgba(0,0,0,.36);
  }

  .btn-send {
    border: 1px solid $orange;
    background-color: $orange;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
