@mixin full-window {
  height: 100%;
  width: 100%;
  min-height: 320px;
}

@mixin center-vertically {
  /* fallback for browsers that not support vh unit */
  min-height: 100%;  
  min-height: 100vh;

  display: flex;
  align-items: center;
}

@mixin full-image-background($url) {
  position: relative;
  width: 100%;
  height: 100%;
  background: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
  transition: opacity .4s;
  overflow: hidden;
}

.cover {
  @include full-window;

  position: relative;
  overflow: hidden;

  .container-fluid {
    height: 100%;
    padding: 0;

    h1 {
      color: $orange;
    }

    p {
      color: #fff;
    }

    .carousel {
      height: 100%;

      .carousel-inner {
        height: 100%;

        .item {
          height: 100%;
        }

        .first-slide {
          @include full-image-background( "https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=509&q=80&cs=tinysrgb" );
        }
        .second-slide {
          @include full-image-background( "https://images.unsplash.com/photo-1461749280684-dccba630e2f6?dpr=1&auto=format&crop=entropy&fit=crop&w=767&h=512&q=80&cs=tinysrgb" );
        }
        .third-slide {
          @include full-image-background( "https://images.unsplash.com/photo-1453133451515-5ff7c1d0d63c?dpr=1&auto=format&crop=entropy&fit=crop&w=1199&h=675&q=80&cs=tinysrgb" );
        }
      }
    }
  }
}
