.cover {
  @include full-window;
  @include full-image-background( "https://images.unsplash.com/photo-1445620466293-d6316372ab59?dpr=1&auto=format&fit=crop&w=767&h=575&q=80&cs=tinysrgb&crop=" );

  padding: 0;
  margin: 0;

  position: relative;
  overflow: hidden;

  .featurette {
    @include center-vertically;

    h1 {
      color: $orange;
    }

    p {
      color: #fff;
      font-weight: 300;
    }

    .typed-text {
      color: $orange;
      font-weight: 400;
    }
    .typed-cursor {
      color: $orange;
      font-weight: 400;
      opacity: 1;
      animation: blink 0.7s infinite;
    }
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @-moz-keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .arrow-down {
    position: absolute;
    bottom: 0.2em;
    display: block;
    text-align: center;
    width: 100%;

    a {
      color: #fff;
      font-size: 1.5em;
    }
  }

  .container-fluid {
    height: 100%;
  }
}

