
.navbar {
  margin-bottom: 0px;
}

.nav {
  text-align: center;
  li {
    a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      text-transform: uppercase;
      font-weight: 600px;
    }
  }
}
