
$brand-primary: $orange;

// navbar
$navbar-default-bg: #fff;
$navbar-default-border: none;
$navbar-default-link-color: $gray;
$navbar-default-link-hover-color: $orange;
$navbar-default-brand-color: $orange;
$navbar-default-toggle-icon-bar-bg: $orange;
$navbar-default-toggle-border-color: none;
$navbar-default-toggle-hover-bg: #fff;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$link-hover-decoration: none;
