
section#services {
  .service-box {
    margin-bottom: 50px;

    .service-title {
      font-size: 30px;
      font-weight: 300;
    }

    .service-subtitle {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .service-icon {
    border: 10px solid $orange;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    font-size: 72px;

    text-align: center;
    line-height: 150px;
    margin: 0 auto;

    .icon-large {
      color: $orange;
    }
  }
}

