
section#services {
  background-color: #fff;

  .service-box {
    margin-bottom: 2.5em;
  }

  .service-icon {
    border: 10px solid $orange;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    font-size: 72px;

    text-align: center;
    line-height: 150px;
    margin: 0 auto;

    .icon-large {
      color: $orange;
    }
  }

  h3 {
    color: $gray;
  }

  p {
    color: $gray;
  }
}

