
section#skills {
  padding: $section-padding;
}

.skill-box {
  text-align: center;
  margin-bottom: 50px;
}

.skill-icon {
  .icon-large {
    font-size: 3em;
  }
}

.section-subtitle {
  text-align: center;
}

.skillbar {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.skillbar-title {
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: #75c366;
}

.skillbar-bar-percent {
  font-weight: 600;
  float: right;
  display: inline-block;
  color: #75c366;
}

.skillbar-bar {
  height: 12px;
  background: #75c366;
  transition-property: width, background-color;
}

.skillbar-bar::before {
  background: #eee;
  content: "";
  height: 12px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

