<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include navigation.html %}
    {% include hero.html %}
    {% include about.html %}
    {% include services.html %}
    {% include skills.html %}
    {% include history.html %}
    {% include contact.html %}
    {% include footer.html %}

    <div class="scroll-top-wrapper ">
      <span class="scroll-top-inner">
        <i class="fa fa-2x fa-chevron-circle-up"></i>
      </span>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
    <script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.waypoints.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
    <script type="application/ld+json">
      { "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "Lefteris Laskaridis",
        "url" : "http://www.laskaridis.com",
        "email" : "lefteris.laskaridis@gmail.com",
        "image" : "http://www.laskaridis.com/images/me.jpg",
        "sameAs" : [
          "http://twitter.com/laskaridis",
          "http://github.com/laskaridis",
          "http://plus.google.com/+LefterisLaskaridis"]
      }
    </script>
  </body>
</html>
